.DS_Store
lib/__pychache__
.idea
venv
.pytest_cache
tempReadme.md
src/yatter/__pycache__/termmap.cpython-311.pyc
src/yatter/__pycache__/target.cpython-311.pyc
src/yatter/__pycache__/subject.cpython-311.pyc
src/yatter/__pycache__/source.cpython-311.pyc
src/yatter/__pycache__/predicateobject.cpython-311.pyc
src/yatter/__pycache__/normalization.cpython-311.pyc
src/yatter/__pycache__/mapping.cpython-311.pyc
src/yatter/__pycache__/graph.cpython-311.pyc
src/yatter/__pycache__/function.cpython-311.pyc
src/yatter/__pycache__/constants.cpython-311.pyc
src/yatter/__pycache__/__main__.cpython-311.pyc
src/yatter/__pycache__/__init__.cpython-311.pyc
src/yatter/__init__.py
mapping_normalized.yml
mapping.yml
mapping.rml.ttl
